.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.h-600 {
    height: 700px
}

.w-600 {
    width: 700px;
}

.object-fit-cover {
    object-fit: cover;
}