body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.h-600 {
    height: 700px
}

.h-50 {
    height: 50px;
}

.w-600 {
    width: 700px;
}

.object-fit-cover {
    object-fit: cover;
}

.font-20 {
    font-size: 20px;
}

.borderless {
    border: none;
}

.primary-color {
    background-color: #2F4550;
    color: white;
}

.primary-color:hover {
    background-color: #586F7C;
}

.text-align-center {
    text-align: center;
}